// noinspection CssUnknownProperty
@media print {
    body {
        width: 100% !important;
        background: #fff !important;
        font-family: Arial, Helvetica, Verdana, serif;
        font-size: 12px;

        -webkit-print-color-adjust: exact;
                print-color-adjust: exact;

        *:not(.canvas-container) {
            visibility: hidden;
        }
        .canvas-container {
            visibility: visible;
            display: block;

            position: absolute;
            left: 0;
            top: 0;

            width: 100% !important;
            margin: 0 auto;
            border: 0;

            .lower-canvas, .upper-canvas {
                visibility: visible;
                width: 100%;
                border: 0;
            }
        }
    }
}
