body {
    margin: 0;
}

canvas {
    display: block;
    background: rgb(23, 23, 32);
}

h1 {
    position: absolute;
    bottom: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 170px;
    color: orange;
    left: 160px;
}
