.aero-matics-display-italic {
    font-family: 'AeroMaticsDisplay-Italic', serif;
}
.anonymous-pro {
    font-family: 'AnonymousPro', serif;
}
.archive {
    font-family: 'Archive', serif;
}
.arsenal-bold {
    font-family: 'Arsenal-Bold', serif;
}
.arsenal-bold-italic {
    font-family: 'Arsenal-BoldItalic', serif;
}
.arsenal-italic {
    font-family: 'Arsenal-Italic', serif;
}
.arsenal {
    font-family: 'Arsenal', serif;
}
.banana-brick {
    font-family: 'BananaBrick', serif;
}
.brava {
    font-family: 'Brava', serif;
}
.casper-bold {
    font-family: 'Casper-Bold', serif;
}
.casper-bold-italic {
    font-family: 'Casper-BoldItalic', serif;
}
.casper-italic {
    font-family: 'Casper-Italic', serif;
}
.casper {
    font-family: 'Casper', serif;
}
.comfortaa-bold {
    font-family: 'Comfortaa-Bold', serif;
}
.comfortaa {
    font-family: 'Comfortaa', serif;
}
.cuprum-bold {
    font-family: 'Cuprum-Bold', serif;
}
.cuprum-bold-italic {
    font-family: 'Cuprum-BoldItalic', serif;
}
.cuprum-italic {
    font-family: 'Cuprum-Italic', serif;
}
.cuprum {
    font-family: 'Cuprum', serif;
}
.dan-bold {
    font-family: 'Dan-Bold', serif;
}
.days {
    font-family: 'Days', serif;
}
.dejavu-serif {
    font-family: 'DejavuSerif', serif;
}
.eurofurence-bold {
    font-family: 'Eurofurence-Bold', serif;
}
.eurofurence-bold-italic {
    font-family: 'Eurofurence-BoldItalic', serif;
}
.eurofurence {
    font-family: 'Eurofurence', serif;
}
.flow-bold {
    font-family: 'Flow-Bold', serif;
}
.flow {
    font-family: 'Flow', serif;
}
.gardens-c {
    font-family: 'GardensC', serif;
}
.hagin-caps-medium {
    font-family: 'HaginCapsMedium', serif;
}
.intro {
    font-family: 'Intro', serif;
}
.ivan {
    font-family: 'Ivan', serif;
}
.jikharev-bold-italic {
    font-family: 'Jikharev-BoldItalic', serif;
}
.london {
    font-family: 'London', serif;
}
.megen {
    font-family: 'Megen', serif;
}
.metro {
    font-family: 'Metro', serif;
}
.movavi-grotesque-black-italic {
    font-family: 'MovaviGrotesqueBlack-Italic', serif;
}
.movavi-grotesque-black {
    font-family: 'MovaviGrotesqueBlack', serif;
}
.neucha {
    font-family: 'Neucha', serif;
}
.pf-playskool-pro-confetti {
    font-family: 'PFPlayskoolProConfetti', serif;
}
.pt-sans-bold {
    font-family: 'PTSans-Bold', serif;
}
.pt-sans-bold-italic {
    font-family: 'PTSans-BoldItalic', serif;
}
.pt-sans-italic {
    font-family: 'PTSans-Italic', serif;
}
.pt-sans-regular {
    font-family: 'PTSans-Regular', serif;
}
.pacifica {
    font-family: 'Pacifica', serif;
}
.philosopher-bold {
    font-family: 'Philosopher-Bold', serif;
}
.philosopher-bold-italic {
    font-family: 'Philosopher-BoldItalic', serif;
}
.philosopher-italic {
    font-family: 'Philosopher-Italic', serif;
}
.philosopher-regular {
    font-family: 'Philosopher-Regular', serif;
}
.play-bold {
    font-family: 'Play-Bold', serif;
}
.play {
    font-family: 'Play', serif;
}
.scada-bold {
    font-family: 'Scada-Bold', serif;
}
.scada-bold-italic {
    font-family: 'Scada-BoldItalic', serif;
}
.scada-italic {
    font-family: 'Scada-Italic', serif;
}
.scada {
    font-family: 'Scada', serif;
}
.segoe-wp-black {
    font-family: 'SegoeWP-Black', serif;
}
.segoe-wp-bold {
    font-family: 'SegoeWP-Bold', serif;
}
.segoe-wp-semibold {
    font-family: 'SegoeWP-Semibold', serif;
}
.segoe-wp {
    font-family: 'SegoeWP', serif;
}
.sreda {
    font-family: 'Sreda', serif;
}
.times-new-roman {
    font-family: 'TimesNewRoman', serif;
}
.tkachenko-sketch-4-f-bold {
    font-family: 'TkachenkoSketch4F-Bold', serif;
}
.tkachenko-sketch-4-f {
    font-family: 'TkachenkoSketch4F', serif;
}
.uni-neue-heavy-italic {
    font-family: 'UniNeue-HeavyItalic', serif;
}
