.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#container {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#container > div {
    position: absolute;
    user-select: none;
}
