body {
    margin: 0;
    overflow: hidden;
}

#perspective {
    margin-left: calc((100vw - 50vmin) / 2);
    margin-top: calc((100vh - 50vmin) / 4);
    width: 50vmin;
    height: 50vmin;
    perspective: 60vmin;
}

#container {
    width: 50vmin;
    height: 50vmin;
    line-height: 0;
    transform-style: preserve-3d;
}

.box {
    display: inline-block;
    background: black;
}
