{{ define "signa" }}
    {{ template "header" }}
    <main class="px-3">
        <h1 class="cover-heading">Signa</h1>
        <p class="lead">{{ .Sign.ViewSigna }}</p>
    </main>
    {{ template "footer" }}
{{ end }}
